RewriteEngine on

RewriteCond $1 !^(item|newsview|index\.php|index\.html|Public|public|Upload|Admin|company\-(.*)|user\.php|robots\.txt|favicon\.ico)   
RewriteRule ^(.*)$ /index.php/Index/$1
RewriteRule ^item-([0-9]+)$ /index.php/Index/item/id/$1
RewriteRule ^newsview-([0-9]+)$ /index.php/Index/newsview/id/$1
RewriteRule ^jieshao-([0-9]+)$ /index.php/Index/jieshao/id/$1
RewriteRule ^company-([0-9]+)$ /index.php/Company/index/id/$1
RewriteRule ^company-jianjie-([0-9]+)$ /index.php/Company/jianjie/id/$1
RewriteRule ^company-changjing-([0-9]+)$ /index.php/Company/changjing/id/$1
RewriteRule ^company-rongyu-([0-9]+)$ /index.php/Company/rongyu/id/$1
RewriteRule ^company-product-([0-9]+)$ /index.php/Company/product/id/$1
RewriteRule ^company-lianxi-([0-9]+)$ /index.php/Company/lianxi/id/$1