@import "base.css";
body{
	color:#333;
}
body a{
	text-decoration:none;
	color:#333;
}
.top{
	width:100%;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #CCC;
	background-color:#f2f2f2;
	position:fixed;
	top:0px;
	left:0px;
}
.top_L{
	float:left;
	background:url(../images/listbtn-bg.jpg) no-repeat;
	height:25px;
	width:98px;
}
.top_R{
	float:right;
	margin-right:13px;
}
.top1{
	clear:both;
	width:968px;
	margin:0 auto;
	margin-top:41px;
	height:90px;
}
.logo{
	float:left;
	margin-left:57px;
}
.search{
	float:left;
	width:646px;
	height:35px;
	line-height:35px;
	margin-left:26px;
	margin-top:33px;
}
.search input{
	display:inline-block;
	float:left;
	border:1px solid #CCC;
	background:none;
	width:537px;
	height:32px;
	text-indent:1em;
	line-height:34px;
	font-size:16px;
	vertical-align:middle;
}
.search button{
	display:inline-block;
	float:left;
	width:90px;
	height:34px;
	margin-left:15px;
	background:none;
	border:none;
	cursor:pointer;
	background:url(../images/search-btn.jpg) no-repeat;
}
.shichang{
	width:926px;
	border:1px solid #CCC;
	margin:0 auto;
	padding:16px 20px;
	line-height:26px;
}
.shichang a{
	color:#33f;
}
.shichang .search{
	margin-top:10px;
	margin-left:0;
	height:28px;
	line-height:28px;	
}
.shichang .search input{
	width:320px;
	line-height:26px;
	font-size:14px;
	border-right:none;
	height:26px;
}
.shichang .search button{
	width:82px;
	background:none;
	background-color:#c40004;
	height:28px;
	margin-left:0;
	color:#FFF;
	text-align:center;
	font-weight:bold;
}
.lunbo{
	width:968px;
	margin:10px auto;
}
.main{
	width:968px;
	margin:0 auto;
	background:url(../images/pro_l.jpg) repeat-y;
}
.main_l{
	float:left;
	width:227px;
}
.sidebar {
  width: 227px;
  height: 100%;
}
.sidebar h1{
	background-color:#000;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	height:36px;
	line-height:36px;
	text-indent:55px;
}
.sidebar ul {
  margin:0;
  padding:0;
  background-color:#c40000
}
.sidebar li {
  list-style: none;
  padding: 10px;
  position: relative;
}
.sidebar li:hover {
  text-indent:1em;
  background-color: #900;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
  font: 12px Open Sans;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
}
.sidebar .hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: #900;
  z-index: 0;
  opacity: 0;
}
.sidebar a:hover {
	background-color:#900;
}
.sidebar .fa-angle-right {
  position: absolute;
  left: 150px;
  top: 1px;
}
.sidebar .sub-menu {
  position: absolute;
  left: 227px;
  top: -30px;
  padding: 0px;
  width: 220px;
  display: none;
}
.sidebar .sub-menu li a {
  padding-left: 20px;
  font-size: 13px;
}
.sidebar .sub-menu i {
  left: 180px;
}
.sidebar ul li:hover ul {
  display: block;
}
.sidebar .push {
  margin-right: 10px;
}
.main_r{
	float:right;
	width:733px;
}
.main_r_t{
	border-top:2px solid #c40000;
	height:5px;
}
.main_r_f{
	width:724px;
	padding-left:5px;
	background:url(../images/prolist_bg.jpg) top center repeat-y;
}
.main_r_f li{
	width:347px;
	height:109px;
	display:inline;
	margin-left:15px;
	float:left;
	cursor:pointer;
}
.main_r_f li a{
	color:#999;
}
.main_r_f li .table{
	width:332px;
	margin-top:20px;
	min-height:72px;
	max-height:80px;
	overflow:hidden;
}
.main_r_f li .table h1{
	color:#333;
	font-size:14px;
}
.main_r_f li .table img{
	vertical-align:middle
}
.main_r_f li .table1{
	margin:0;
	padding:0;
	line-height:18px;
}
.page{
	clear:both;
	width:968px;
	margin:0 auto;
	padding:15px;
	height:62px;
	padding-top:38px;
	text-align:center;
}
.page a{
	display:inline-block;
	background:#039;
	color:#FFF;
	font-size:14px;
	padding:12px 16px;
	border:1px solid #CCC;
}
.page a:hover{
	color:#039;
	background-color:#f5f5f5;
}



.foot{
	height:34px;
	line-height:34px;
	width:100%;
	text-align:center;
	background-color:#c40000;
	color:#FFF;
}
.foot a{
	color:#FFF;
}